{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Categories</h2>
    {% if user.is_authenticated %}
    <div class="categories">
        {% for category in categories %}
            <div style="margin: 100px; ">
               <a href="{% url 'this_category' category %}">
                    <h2 style="color:brown;">{{ category }}</h5>
               </a>   
            </div>
        {% empty %}
            <li>No Categories Available </li>
        {% endfor %}
    </div>
    {% endif %}

{% endblock %}
