body {
    padding: 10px;
    background-color: cornsilk;
}
.project-name {
    font-weight: 2em;
    border: tomato 1px solid;
    border-radius: 3em;
    text-align: center;
}
.nav {
    background-color: white;
    display: flex;
    align-items: center;
    place-items: center;
}

.listing {
    display: flex;
    flex-wrap: wrap;
}

.not-signed-in {
    display: block;
    margin: 2em;
    text-align: center;
}

.auctions-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.new-listing-form {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgb(223, 190, 58);
    padding: 2em;
}

.new-listing-form-title {
    text-align: center;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}

.comments {
    padding: 1em;
    border: rgb(206, 178, 21) 1px solid;
    margin-right: 1em;
}

.comment {
    border-bottom: springgreen 1px solid;
    padding: 1em;
}

.login {
    padding: 3rem;
    display: grid;
    place-items: center;
}

.register-here-link {
    display: grid;
    place-items: center;
}

.closed {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}